{% extends "media/base.html" %}
{% block content %}
    {% load static%}
    <link rel="stylesheet" href="{% static 'media/css/follow_detail.css' %}">

    <div class="content-container">
        {% if state == 'following' %}
            <div class="top-bar">
                <div class="bar-button"><a href="{% url 'follow-detail' username=username follow='followers' %}">Followers</a></div> 
                <div class="bar-button active" id="following"><a href="{% url 'follow-detail' username=username follow='following' %}">Following</a></div>
            </div>
            <div class="users-container">
                {% for user in users %}
                    <div class="user-field">
                        <a href="{% url 'profile' user.username %}">
                            <div class="user-info">
                                <img src="{{ user.profile_picture.url }}" alt="user-profile-picture">
                                <p>{{ user.full_name }}</p>
                            </div>
                        </a>
                        <div class="follow-button">
                            <!-- <button id="followButton" class="profile-context-button" value="{{ user.username }}">
                                {% if isFollowing %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {%endif%}
                            </button> -->
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="top-bar">
                <div class="bar-button active"><a href="{% url 'follow-detail' username=username follow='followers' %}">Followers</a></div> 
                <div class="bar-button" id="following"><a href="{% url 'follow-detail' username=username follow='following' %}">Following</a></div>
            </div>
            <div class="users-container">
                {% for user in users %}
                    <div class="user-field">
                        <a href="{% url 'profile' user.username %}">
                            <div class="user-info">
                                <img src="{{ user.profile_picture.url }}" alt="user-profile-picture">
                                <p>{{ user.full_name }}</p>
                            </div>
                        </a>
                        <div class="follow-button">
                            <!-- <button id="followButton" class="profile-context-button" value="{{ username }}">
                                {% if isFollowing %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {%endif%}
                            </button> -->
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %} 