.edit-field {
    width: 800px;
    /* height: 500px; */
    margin: 10px auto;
    background-color: white;
}

#banner {
    width: 100%;
    height: 300px;
}

#profile {
    width: 200px;
    height: 200px;
}

/* #id_banner_picture {
    display: none;
} */

.hide-upload {
    display: none;
}

#change-banner:hover {
    cursor: pointer;
}

#change-profile:hover {
    cursor: pointer;
}