<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TimeLine</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
</head>
<body>
    <div class="divcenter">
        <div class="intarea upperarea">
            <h1>TimeLine</h1>
            <form method='POST'>
                {% csrf_token %}
                {% for field in login_form %}
                    <div class="inputcontainer">
                        {{field}}

                        {% for error in field.errors%}
                            <p style="color: red">{{error}}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="intarea lowerarea">
            <p>Not have an account?<a href="{% url 'registration' %}">Sign Up</a></p>
        </div>
        {% if login_form.non_field_errors %}
            <div style="color: red;">
                <p>{{ login_form.non_field_errors }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>