<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TimeLine</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
</head>
<body>
    <article>
        <div class="imageholder">
            <img src="{% static 'account/reglogo.png' %}" alt="logo image">
        </div>
        <div class="container">
            <div class="intarea upperarea">
                <h1>TimeLine</h1>
                <form method='POST'>
                    {% csrf_token %}
                    {% for field in registration_form %}
                        <div class="inputcontainer">
                            {{field}}

                            {% for error in field.errors%}
                                <p style="color: red">{{error}}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit">Sign Up</button>
                </form>
            </div>
            <div class="intarea lowerarea">
                <p>Already Signed Up?<a href="{% url 'login' %}">Sign In</a></p>
            </div>
        </div> 
    </article>
</body>
</html>